@media only screen and (max-width: 1195px) {
    .container {
        width : 940px;
    }
  
   .news-category-right__list-suggest-over-flow {
      overflow-x: auto;
      height: 100vh;
      padding-right : 20px;
   }
   .news-category-right {
    display: none;
    width : 253px ;
    border : 1px solid #e2e2e2;
    padding-top : 20px;
    z-index: 1000 !important;
    position: fixed;
    top : -15px;
    right : 0px;
    background: white;
   }
   .news-category-right__banner img {
    height: 150px;
   }
   .news-category-right__list-suggest-item img {
     height: 136px;
   }
   .button-display-new {
    display: block;
    position: fixed;
    right : 0px;
    top : 35.2vh;
    z-index: 1000;
} 
.button-display-new button {
    cursor: pointer;
    border : none;
    padding: 10px;
    background: #9ac100;
}
.button-display-new button>i {
    color : #fff;
    font-size: 17px;
      }
      .app-new-content-left-close {
        position: relative;
        display: block;
       }
       .app-new-content-left-button-close {
        position: absolute;
        top : 326px;
        left: -34px;
        z-index: 1001;
        
    }
    .app-new-content-left-button-close button {
        cursor: pointer;
        border : none;
        padding: 10px;
        background: #9ac100;
        }
    .app-new-content-left-button-close button>i {
      color : #fff;
      font-size: 17px;
        }
   .news-header-content_right {
    width : 50%;
 
   }


   .news-header-content_right-item-post {
     width : 93%;
   }
   .news-header-content_right-item{
    width : 45.6%;
    height : 157px;
   }
   .news-header-content_right-item img {
    height : 157px;
   }
   .news-header-content_right-item-gradient {
    height : 157px;
   }

   .news-header-content-left__img {
    height : 333px;
   }
   .news-header-content-left__img img{
    height : 329px;
   }
   .new-header-content-left__img-gradient {
    height : 333px;
   }
   .news-header-content-left__img-post {
    width : 48%;
   }
   .news-list-post-left {
    width : 100%;
   }

}

@media only screen and (max-width: 990px) {
    
    .container {
      
        width: 730px;
    }
    
       .news-header-content_right-item {
         height : 240px;
       }
       .news-header-content_right-item img {
        height : 240px;
    }
    .news-header-content_right-item-gradient {
        height : 240px;
    }
    .news-header-content-left {
        width : 100%;
        float: none;
    }
    .news-header-content_right {
        float : none;
        width : 100%;
       
    }
    .news-header-content_right-item {
        margin-left : 0px;
        margin-right : 20px;
        width : 345px;
    }
    .news-header-content-left__img {
        padding-bottom : 25px;
        height : 380px;
        
       }
       .news-header-content-left__img img{
        height : 380px;
       }
       .new-header-content-left__img-gradient {
        height : 384px;
       }
       .news-list-post-left__item-detail {
        
         float : right;
         width: 49%;
       }
       .news-list-post-left__item-image {
        width : 42% !important;
    
       }
     .news-list-post-left__item-image img {
        height : 190px;
     }
     .news-header-content_right-item-post {
        width : 60%;
     }
     .news-header-content-left__img-post {
        width : 30%;
     }
}

@media only screen and (max-width: 766px) {
    .container {
        width : 97% !important;
        
    }
   
       .news-list-post-left__item-detail {
        width: 100%;
        float : none;
      }
      .news-list-post-left__item-image img {
       
        width : 100%;
        height : 290px;
     }
    .news-list-post-left__item-image {
       width : 100% !important;
    }
    .news-list-post-left__item-detail {
        width: 90%;
    }

  .news-header-content_right-item-content{
    width : 100%;
  }
    .news-header-content_right-item {
        width : 100% !important;
      }
      .news-header-content_right-item img {
        width : 100% !important;
   }
   .news-header-content_right-item-gradient {
    width : 100% !important;
   }
   .news-header-content_right-item-post {
    width : 42%;
   }
   .news-header-content-left__img-post {
    width : 47%;
   }
}

@media only screen and (max-width: 480px) { 
    .container {
        width : 100%;
    }
    
       .news-header-content_right-item-post {
        width : 60%;
       }
       .news-header-content-left__img-post {
        width : 60%;
       }

      .news-list-post-left__item-image img {
        height : 230px !important;
     }
    .news-list-post-left__item-image {
       width : 100% !important;
    }
    


    .news-header-content-left__img {
        padding-bottom : 25px;
        height : 230px;
        
       }
       .news-header-content-left__img img{
        height : 230px;
       }
       .new-header-content-left__img-gradient {
        height : 234px;
       }
     .news-header-content_right-item {
        margin-right : 0px !important;
        margin-left : 0px !important;
     }
     .news-list-post-left__item-detail {
        padding : 0px;
        width : 100%;
     }
}
